.values-body {
    color: #fff;
    background-image: url(../assets/img/background/Recurso\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.values__title {
    font-family: 'Bebas-Neue';
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding-top: 1.2rem;
}

.value__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.9rem;
}

.value__icon {
    min-width: 50px;
    max-width: 80px;
}

.value__icon img{
    display: block;
    width: 100%;
}

.value__title {
    font-family: 'Bebas Neue';
}

.value__description {
    font-family: 'Poppins';
}

@media screen and (min-width: 700px) {

    .values-body {
        background-image: url(../assets/img/background/Recurso\ 3.png);
        }

    .values {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "left right";
        gap: 6.9rem;
    }

    .value__item  {
        flex-direction: column;
    }

    .value__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/* Services */

.services_body {
    color: #fff;
}

.services__title {
    font-family: 'Bebas-Neue';
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 11%;
    color: #38488D;
}

.service-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 7%;
}

.service-1__text {
    flex-direction: column;
    text-align: center;
    color: #38488D;
}

.service-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 7%;
}

.service-2__icon {
    margin-left: 6%;
}

.service-2__text {
    flex-direction: column;
    text-align: center;
    color: #38488D;
}

.service-3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 7%;
}

.service-3__text {
    flex-direction: column;
    text-align: center;
    margin-right: 2%;
    color: #38488D;
}

.service-4 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 7%;
}

.service-4__icon {
    margin-left: 1%;
}

.service-4__text {
    flex-direction: column;
    text-align: center;
    color: #38488D;
}

.service-5 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 7%;
}

.service-5__icon {
    margin-left: 6%;
}

.service-5__text {
    flex-direction: column;
    text-align: center;
    margin-right: 1%;
    color: #38488D;
}

.service-6 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 7%;
}

.service-6__icon {
    margin-left: 3%;
}

.service-6__text {
    flex-direction: column;
    text-align: center;
    margin-right: 1%;
    color: #38488D;
}

@media screen and (min-width: 700px) {

.services_body {
        color: #fff;
    }

.services {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.service__title {
    font-size: 2rem;
    margin-top: 5%;
}

.service-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.service-1__icon {
    margin-bottom: 1%;
}

.service-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

.service-2__icon {
    margin-left: 1%;
    margin-bottom: 1%;
}

.service-2__text {
    margin-left: 2%;
}

.service-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1/2;
    grid-row: 3/4;
}

.service-3__icon {
    margin-bottom: 1%;
}

.service-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.service__icon {
    margin-bottom: 1%;
}

.service__text {
    margin-left: 2%;
}

.service-5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.service-5__icon {
    margin-right: 1%;
}

.service-6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.service-6__icon {
    margin-bottom: 1%;
}
}
/*Footer*/



* , ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#fff;
    color: #0055ca;
    
}

.team-coders {
    
    background-color: #fff;
    
}

.layout{
    margin-bottom: 3rem;
    padding: 1rem;
}

.image{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    
    
    
}

.content-text{
    text-align: center;
    color: #0055ca;
    
    
    
}

.content-text h3, h4 {
    line-height: 2rem;
}

img {
    width: 100%;
    display: block;
    
}

@media screen and (min-width:700px) {
    .team-coders {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;
        margin-top: 80px;
        
    }
}

footer {
    background-color: #38488d;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.footer-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 2rem;
}

.footer-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-form input[type="text"],
#footer-form textarea {
    display: block;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
}

#footer-form textarea {
    height: 100px;
}

#footer-form button[type="submit"] {
    padding: 10px 30px;
    background-color: #fff;
    color: #38488d;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
}

.icons-rs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.icons-rs img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.icons-img:first-child {
    margin-left: 0;
}

.icons-img:last-child {
    margin-right: 0;
}

.icon-copyright {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.icon-copyright img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.fake-web,
.fake-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.fake-web p,
.fake-mail p {
    color: #fff;
    text-align: center;
}

/* Estilos para dispositivos móviles */

@media screen and (max-width: 700px) {
    .footer-image img {
        max-width: 300px;
    }

    #footer-form input[type="text"],
    #footer-form textarea {
        max-width: 250px;
    }
}

/*  para escritorio */

@media screen and (min-width: 700px) {
    .footer-image img {
        max-width: 600px;
    }

    #footer-form input[type="text"],
    #footer-form textarea {
        max-width: 300px;
    }
}
