.services_main_title {
    font-family: "Bebas Neue";
    font-size: 3rem;
    text-align: center;
    color: #38488D;
}
.services__item {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.services_img {
    max-width: 50px;
    min-width: 30px;
    border-color: #38488D;
}

.services_img img {
    width: 100%;
    background-color: white;
}

.services_title {
    font-family: "Bebas Neue";
    justify-content: flex-start;
    color: #38488D;
}

.services_description{
    font-family: "poppins";
    color: #38488D;
}

@media screen and (min-width: 700px){

.services_container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
}

.services_container > div {
    display: flex;
    flex-direction: column;
    align-items:  center;
    text-align: center;
}

}









